
[id=exhibitor-page] .prop-desc ons-icon {
	width: 1.4em;
	font-size: 14px;
	opacity  : 0.5;
}

[id=exhibitor-page] .loader {
	margin-top: 2%;
	width     : 100%;
	border    : none !important;
}

[id=exhibitor-page] ons-progress-circular {
	margin : auto;
	display: flex;
}


[id=exhibitor-page] .description {
	margin: .5em 0 0 1em;
}
[id=exhibitor-page] .description small {
	font-size: .8em;
}
[id=exhibitor-page] .description div {
	margin-left: 1em;
}
[id=exhibitor-page] .description img {
	margin-top: 1em;
	max-width: 95%;
}