
/* Version sans OnSen */
.list-component {
  padding-left: 5px;
  list-style: none;
}

.list-component li {
  padding: 5px 5px;
  border-bottom: 1px solid lightgrey;
  cursor: pointer;
}

.list-component li.emphasised {
  background-color: orange;
}


/* Loader */
.list-component li.loader {
  margin-top: 5%;
  width     : 100%;
  border    : none !important;
}

.list-component .loader > ons-progress-circular {
  margin: auto;
  display: flex;
}
