
body {
	margin : 0;
	padding: 0;
	font-family: sans-serif;
	overflow: hidden;
}

[id=root],
.page-container {
	width : 100%;
	height: 100%;
}

.page-container {
	position  : absolute;
	top       : 0px;
	background: white;
}